@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #201f22;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-open-sans: var(--font-open-sans);
  --color-primary: #c1fd35;
  --color-secondary: #3a393e;
  --color-tertiary: #cecece;
  --color-success: #c1fd35;
  --color-warning: #ffcc00;
  --color-error: #da0000;
}

body {
  background: var(--background);
  color: var(--foreground);
}

body * {
  @apply font-[Open_Sans];
}

button {
  @apply rounded-md;
  @apply font-bold;
}

button[disabled] {
  @apply pointer-events-none;
  @apply cursor-none;
  @apply bg-[#999999];
  @apply text-[#3A393E];
}

button:hover {
  @apply cursor-pointer;
}

h1.heading1 {
  @apply text-[24pt];
  @apply font-bold;
}
h2.heading2 {
  @apply text-[20pt];
  @apply font-bold;
}
h3.heading3 {
  @apply text-[16pt];
  @apply font-bold;
}
h4.heading4 {
  @apply text-[14pt];
  @apply font-bold;
}
h5.heading5 {
  @apply text-[13pt];
  @apply font-bold;
}
h6.heading6 {
  @apply text-[12pt];
  @apply font-bold;
}

span.text1 {
  @apply text-[14pt];
  @apply font-medium;
}
span.text2 {
  @apply text-[12pt];
  @apply font-medium;
}
span.error {
  @apply text-[14pt];
  @apply font-medium;
  @apply text-error;
}

.button-small {
  @apply px-6;
  @apply py-2;
  @apply text-[14px];
}

.button-medium {
  @apply px-8;
  @apply py-4;
  @apply text-[16px];
}

.button-large {
  @apply px-12;
  @apply py-6;
  @apply text-[18px];
}

.button-xlarge {
  @apply px-[16px];
  @apply py-6;
}

.button-primary {
  @apply bg-primary;
  @apply text-secondary;
}

.button-primary:hover {
  @apply bg-[#d5ff72];
}

.button-primary:active {
  @apply bg-primary;
  @apply outline-none;
}

.light-container .button-primary {
  @apply bg-background;
  @apply text-white;
}

.light-container .button-primary:hover {
  @apply bg-gray-600;
}

.light-container .button-primary:active {
  @apply bg-black;
  @apply outline-none;
}

.button-secondary {
  @apply bg-background;
  @apply text-primary;
  @apply border-1;
  @apply border-primary;
}

.button-secondary:hover {
  @apply bg-secondary;
}

.button-secondary:active {
  @apply bg-secondary;
  @apply outline-none;
}

.button-tertiary {
  @apply bg-tertiary;
  @apply text-background;
}

.button-tertiary:hover {
  @apply bg-[#E5E5E5];
}

.button-tertiary:active {
  @apply bg-[#C1C1C1];
  @apply outline-none;
}

input {
  @apply bg-white;
  @apply text-black;
  @apply rounded-md;
  @apply p-4;
  @apply text-[16px];
}

input[disabled] {
  @apply pointer-events-none;
  @apply cursor-none;
  @apply text-[#999999];
}

.background-image {
  @apply fixed;
  @apply w-full;
  @apply mt-0;
  @apply mb-16;
  @apply h-full;
  @apply bg-cover;
  @apply bg-center;
  @apply bg-no-repeat;
  @apply bg-top;
}

.form-container {
  @apply w-full;
  @apply max-w-[300px];
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
  @apply gap-6;
}

.form-container .fields-container {
  @apply w-full;
  @apply flex;
  @apply flex-col;
  @apply gap-x-[30px];
  @apply gap-y-[36px];
}

.form-container .fields-container.register-form {
  @apply md:grid;
  @apply md:grid-cols-2;
}

.form-container .fields-container .full-width-row {
  @apply col-span-2;
}

.error-message {
  @apply text-[15px];
  @apply text-error;
  @apply italic;
}

.main-panel section {
  @apply w-full;
}

.main-panel section button,
.main-panel section input {
  @apply shadow-md;
  @apply w-full;
}

.main-panel section .profile-data input {
  @apply w-full;
  @apply bg-white;
  @apply text-black;
  @apply border-0;
  @apply rounded-none;
  @apply outline-none;
  @apply shadow-none;
  @apply p-0;
  @apply text-[16px];
}
