@import "tailwindcss";

:root {
  --background: #201F22;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-open-sans: var(--font-open-sans);
  --color-primary: #C1FD35;
  --color-secondary: #3A393E;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-open-sans;
}

button {
  @apply rounded-md;
  @apply font-bold;
}

button:hover {
  @apply cursor-pointer;
}

.button-small {
  @apply px-6;
  @apply py-2;
  @apply text-[14px];
}

.button-medium {
  @apply px-8;
  @apply py-4;
  @apply text-[16px];
}

.button-large {
  @apply px-12;
  @apply py-6;
  @apply text-[18px];
}

.button-primary {
  @apply bg-primary;
  @apply text-secondary;
}

.button-primary:hover {
  @apply bg-[#d5ff72];
}

.button-primary:active {
  @apply bg-primary;
  @apply outline-none;
}

.button-secondary {
  @apply bg-background;
  @apply text-primary;
  @apply border-1;
  @apply border-primary;
}

.button-secondary:hover {
  @apply bg-secondary;
}

.button-secondary:active {
  @apply bg-secondary;
  @apply outline-none;
}

.home-background-image {
  @apply fixed;
  @apply w-full;
  @apply mt-0;
  @apply mb-16;
  @apply h-full;
  @apply bg-cover;
  @apply bg-center;
  @apply bg-no-repeat;
  @apply bg-top;
  @apply bg-[url('/images/background-landing-mb.jpg')];
  @apply md:bg-[url('/images/background-landing.jpg')];
}

.hero-text {
  @apply mt-12;
  @apply md:mt-16;
  @apply pt-8;
  @apply px-4;
  @apply flex;
  @apply flex-col;
  @apply w-[260px];
  @apply md:w-[460px];
  @apply gap-4;
}

.hero-text h1 {
  @apply font-semibold;
  @apply md:font-normal;
  @apply leading-[28px];
  @apply md:leading-[50px];
  @apply text-white;
  @apply text-[24px];
  @apply md:text-[50px];
}

.hero-text h2 {
  @apply text-primary;
  @apply text-[21.5px];
  @apply md:text-[34px];
  @apply leading-[28px];
  @apply md:leading-[50px];
}

.cards-container h1 {
  @apply border-b-primary;
  @apply border-b-2;
  @apply pt-0;
  @apply pb-[12px];
  @apply mb-[12px];
  @apply text-[24px];
  @apply md:text-[40px];
  @apply font-bold;
  @apply text-background;
}

.cards-container p {
  @apply text-[16px];
  @apply md:text-[20px];
  @apply text-background;
}